@charset "UTF-8";
.readbook-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-toggle {
  position: absolute;
  top: 70px;
  right: -15px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.collapsed .sidebar-toggle {
  transform: rotate(180deg);
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
}

.sidebar.collapsed .sidebar-item .label {
  display: none;
}

.sidebar-item .icon {
  font-size: 24px;
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}

.sidebar.collapsed .sidebar-item .icon {
  margin-right: 0;
}

.sidebar-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sidebar.collapsed .sidebar-footer {
  align-items: center;
}

.text-settings-dropdown {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  animation: dropdown 0.3s ease;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
.text-settings-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.text-size-option {
  cursor: pointer;
  font-size: 10px;
  transition: transform 0.3s ease;
  width: 23px;
  height: 13px;
}

.text-size-option:hover {
  transform: scale(1.2);
}

.color-options {
  display: flex;
  justify-content: space-around;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.3s ease, border-color 0.3s;
}

.color-swatch:hover {
  transform: scale(1.1);
  border-color: #000;
}

/* Content Area */
.content {
  flex: 1;
  padding: 20px;
  margin-bottom: 60px;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

.book-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.book-image {
  width: 120px;
  height: 180px;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-title h2 {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-color);
}

.book-title h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.transcriptt {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
  margin-top: 20px;
  padding-bottom: 80px; /* Đảm bảo có đủ khoảng trống cho thanh audio */
}

.section-start-time {
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

.transcriptt-word {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transcriptt-word:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.5);
  transition: background-color 0.3s ease;
}

.highlighted-text {
  background-color: rgba(255, 165, 0, 0.3);
  padding: 2px 4px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

/* Audio Player */
.audio-play-containerr {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

audio {
  width: 100%; /* Cho thanh audio chiếm hết chiều ngang container */
}

.audio-playerr {
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.audio-controls {
  display: flex; /* Sắp xếp các phần tử theo hàng ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

/* Custom Menu Styles */
.custom-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure menu is on top */
  flex-direction: column;
  gap: 5px;
}

.custom-menu button {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-menu button:hover {
  font-weight: bolder;
}

/* Highlighted Word Style */
.highlighted {
  background-color: orange; /* Change highlight color to orange */
  color: black;
}

.custom-menu button {
  display: block;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}

.custom-menu button:hover {
  font-weight: bolder;
}

.loop-button {
  background: none;
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  cursor: pointer;
  /* margin-right: 10px; */
  margin-bottom: -10px;
  margin-right: 20px;
}

.loop-button:focus {
  outline: none; /* Prevent outline on focus */
}

.loop-button:active {
  outline: none; /* Prevent outline on click */
  border: none; /* Prevent border on click */
}

.loop-button:hover {
  transform: scale(1.2); /* Hover effect */
}/*# sourceMappingURL=ReadBook.css.map */