.highlight-container {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .highlight-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .highlight-icon {
    font-size: 20px;
    color: #007BFF;
    margin-right: 10px;
  }
  
  .highlight-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  .highlight-items {
    margin-left: auto;
    color: #777;
  }
  
  .highlight-book {
    text-align: center;
    cursor: pointer;
  }
  
  .highlight-book-cover {
    width: 70%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .highlight-book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .highlight-book-subtitle {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .highlight-details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007BFF;
    cursor: pointer;
  }
  
  .highlight-icon-small {
    font-size: 16px;
    margin-right: 5px;
  }
  
  .highlight-text {
    font-size: 14px;
    text-decoration: underline;
  }
  