.book-detail-dt {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    // background-color: #f9f9f9;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 400px;
  }
  
  .book-detail h1 {
    color: #2c3e50;
    font-size: 2em;
    text-align: center;
  }
  
  .book-detail p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .book-detail strong {
    color: #2980b9;
  }
  
  .book-image {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .book-image img {
    max-width: 200px;
    border-radius: 8px;
  }
  
  
  .book-detail .error-message {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }
  /* Flexbox layout for authors and categories */
  .author-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  
  .book-detail div {
    margin-bottom: 15px;
  }


  .stat-container {
    margin-top: -3cm; /* Tạo khoảng cách 2cm phía trên stat-container */
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Khoảng cách giữa các stat-item */
    justify-content: center;
    
  }
  
  .stat-item {
    flex: 1 1 calc(50% - 20px); /* 50% chiều rộng cho hàng đầu */
    text-align: center;
    border: 1px solid #ddd; /* Viền mỏng để phân biệt */
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .stat-item:nth-child(3),
  .stat-item:nth-child(4),
  .stat-item:nth-child(5) {
    flex: 1 1 calc(33.33% - 20px); /* 33% chiều rộng cho hàng thứ hai */
  }
  
  .chart-containerr {
    margin-top: -950px;
    margin-left: -50px;
  }
  
  @media (max-width: 768px) {
    .book-detail {
      padding: 15px;
    }
  
    .book-detail h1 {
      font-size: 1.8em;
    }
  
    .book-detail p {
      font-size: 1em;
    }
  }
  