/* Đặt cho container */
.userlist-container {
    margin: 0 auto;
    padding: 20px;
    width: 83vw;

    .content-table {
    
        img {
            border-radius: 50%;
            width: 42px;
            height: 42px;
        }
    
        th:nth-child(2), th:nth-child(3) {
            text-align: center;
        }
        
        /* Căn phải cho cột "Năm sinh" */
        th:nth-child(4) {
            text-align: right;
        }
        
        td:nth-child(2), td:nth-child(3) {
            text-align: center;
        }
        
        /* Căn phải cho cột "Năm sinh" */
        td:nth-child(4) {
            text-align: right;
        }
    }
}

/* Responsive cho màn hình nhỏ hơn */
@media (max-width: 768px) {
    th, td {
        font-size: 12px;
    }

    table {
        font-size: 14px;
    }

    /* Tạo khả năng cuộn ngang cho bảng khi cần */
    div {
        overflow-x: auto;
    }
}
