.category-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
  }
  
  .category-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5cm;
    height: 2cm;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .category-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .category-label {
    font-size: 1rem;
    color: #333;
  }
  