.overview-container {
    margin-left: 250px;

    .overview-content-info {
        display: flex;

        .overview-content-card {
            width: 50%;
            height: auto;
            padding: 2rem;
            margin: 10px;
        
            border: 1px solid;
            border-radius: 20px;
        }
    }
}

