.userlist-container {
  margin: 0 auto;
  padding: 20px;
  width: 80vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .add-button {
      margin-left: auto;
    }
  }

  .content-table {
    width: 100%;

    img {
      border-radius: 50%;
      width: 42px;
      height: 42px;
    }

    th:nth-child(2),
    th:nth-child(3),
    th:nth-child(4) {
      text-align: center;
    }

    /* Căn phải cho cột "Năm sinh" */
    th:nth-child(5),
    th:nth-child(6) {
      text-align: right;
    }

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
      text-align: center;
    }

    /* Căn phải cho cột "Năm sinh" */
    td:nth-child(5),
    td:nth-child(6) {
      text-align: right;
    }
  }
}

.content-container {
  width: 100%;
  padding: 20px;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.content-table th,
.content-table td {
  padding: 12px;
  text-align: left;
}

.content-table th {
  border-bottom: #007bff solid;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth animation */

  &:hover {
    transform: scale(1.1); /* Scale the button to 110% */
  }
}

.role-container {
  color: #fff;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 15px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        color: #888;
      }
    }

    button {
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      background-color: #007bff;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    .cancel-button {
      background-color: #6c757d;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.modal .input-group {
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
  }
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    margin: 0 5px;

    a {
      padding: 10px 15px;
      border-radius: 5px;
      background-color: #fff;
      color: #333;
      border: 1px solid #ddd;
      cursor: pointer;
    }

    &.active a {
      background-color: #007bff;
      color: #fff;
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .content-table th,
  .content-table td {
    font-size: 14px;
    padding: 8px;
  }

  th,
  td {
    font-size: 12px;
  }

  table {
    font-size: 14px;
  }

  div {
    overflow-x: auto;
  }
}
