.thanhtoanv1 {
    // padding: 20px;
     padding-left: 10cm; 
    width: 70vw;
    font-size: 20px;
}

.payout-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payout-info .left,
.payout-info .right {
    width: 45%; /* Each side takes up 45% of the container */
}

.payout-info .left p,
.payout-info .right p {
    margin: 5px 0;
}

.book-earnings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-earnings th,
.book-earnings td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.book-earnings th {
    background-color: #f4f4f4;
}

.book-earnings tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-earnings tr:hover {
    background-color: #e2e2e2;
}

.currency-symbol {
    font-size: 1.2em; /* Tăng kích thước */
    //vertical-align: middle;
    margin-top: -50px;
  }
  
  .small-image {
    width: 150px; /* Chiều rộng cố định */
    height: auto; /* Chiều cao tự động */
    border-radius: 8px; /* Bo góc */
    object-fit: cover; /* Giữ tỷ lệ hình ảnh */
  }
  
  /* Dành cho trạng thái Đã Thanh Toán */
.paid {
    color: green; /* Màu xanh cho "Đã Thanh Toán" */
    font-weight: bold;
  }
  
  /* Dành cho trạng thái Chưa Thanh Toán */
  .unpaid {
    color: red; /* Màu đỏ cho "Chưa Thanh Toán" */
    font-weight: bold;
  }
  