.recaplist {
    display: flex;
}

.for-user .paginationtt button{
    margin-left: -200px;
}

.paginationtt-go button{
    padding-right: 200px;
}

.paginationtt-go {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination-btn {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 14px;
   
    transition: background-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination-info {
    font-size: 14px;
    margin: 0 10px;
  }
  
  .pagination-page {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .pagination-page.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .for-user h2 {
    text-align: center;
    font-size: 33px;
  }

  .recommendations-recap h4 {
    font-size: 25px;
    text-align: center;
  }

  .recommendations-recap {
    text-align: center;
  }