.date-picker-container {
    display: flex;
    
    .date-picker {
        width: 70vw;
        display: flex;
        justify-content: center;
    }
}

.dashboard-body {

    .overview {
        
    }
}