.container {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
    margin-left: 350px;
  }
  
  /* Main Content */
  .content {
    flex: 1;
    padding: 20px;
  }
  
  /* Header and Buttons */
  .header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .home-button {
    background-color: #2f7bd9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 50px; /* Space between Home button and tab-menu */
    font-weight: bold;
    border-radius: 5px;
    // margin-top: 30px;
  }
  
  .home-button:hover {
    background-color: #1f81c7;
  }
  
  /* Tab Menu */
  .tab-menu {
    display: flex;
    margin-top: 50px;
  }
  
  .tab {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .tab.active {
    background-color: #88d3ce;
    color: white;
  }
  
  /* Report Table */
  .table-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #f1f1f1;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Status Labels */
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .status.done {
    background-color: #4caf50;
    color: white;
  }
  
  .status.timeout {
    background-color: #ff9800;
    color: white;
  }
  
  .status.inprogress {
    background-color: #ffeb3b;
    color: black;
  }
  
  /* Pagination */
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-controls button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination-controls span {
    margin: 0 10px;
    color: #888;
  }
  
  .pagination-controls button:hover {
    background-color: #88d3ce;
    color: white;
  }
  