.Sidebar {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Ensures even spacing between sections */
  height: 60px;
  padding: 0 20px;
 
}

.Sidebar-bar {
  display: flex;
  align-items: center;
  flex: 1; /* Make the logo and the list take available space */
}

.SidebarLogo {
  display: flex;
  align-items: center;
  margin-right: 30px; /* Adjust space between logo and list */
}

.SidebarLogo img {
  width: 50px;
  height: auto;
}

.SidebarList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SidebarList .row {
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.SidebarList .row.active {
  border-bottom: 3px solid #f1c40f;
}

#icon {
  margin-right: 8px;
}

.filter-sectionme {
  display: flex;
  align-items: center;
  margin-left: 30px; /* Ensures the search bar and user info align to the right */
  width: 300px; /* This can be kept if you want the whole section to be that width */
}

.search-formme {
  display: flex;
  align-items: center;
  width: 44.5cm; /* Set the width of the form to approximately 4.5cm */
  background-color: #9ad6eb;
  border-radius: 20px;
  padding: 5px;
}

.search-inputme {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 7px; /* Minimal padding */
  width: 200px; /* Ensure the input takes up the full width of the search form */
}

.search-buttonme {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.user-info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.iconHeader {
  color: #f1c40f;
  font-size: 20px;
  margin: 0 30px;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-name {
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
