.appeal-container {
    width: 80vw;
}
.table-appeal {

    th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8) {
        text-align: center;
    }

    // th:nth-child(8) {
    //     text-align: right;
    // }

    td:nth-child(5), td:nth-child(6), td:nth-child(7) {
        text-align: center;
    }

    td:nth-child(8) {
        text-align: right;
    }
}

.swal2-container {
    z-index: 2000 !important;
}

.form-control {
    background-color: var(--form-control-bg);
    color: var(--form-control-color);
    border-radius: 4px;
    min-width: 200px;
    margin-bottom: 20px;
    border: 1px solid var(--form-control-border);
}
