.dashboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f4f7fb;
  height: 100vh;
  box-sizing: border-box;
  margin-left: 350px;
  font-size: 20px;
  

  .performance-overview {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 20px;
  }
  
  .overview-card {
    width: 30%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
  }
  .overview-card h3{
    font-size: 23px;
  }
  .overview-card p {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .overview-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .overview-data p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  
  .overview-data h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 8px 0 0;
  }
  .overview-data h4 {
    font-size: 20px;
  }
  .overview-card i {
    font-size: 24px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    opacity: 0.8;
  }
  
  .icon-chart::before {
    content: "📊";
  }
  
  .icon-posts::before {
    content: "📄";
  }
  
  .icon-views::before {
    content: "👁";
  }
  
  .books-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70vw;
    .books-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        font-size: 24px;
        color: #2c3e50;
      }

      .books-select {
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #fff;
        cursor: pointer;

        option {
          font-size: 16px;
        }
      }
    }

    .books-table-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 16px;

      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #3498db;
        color: white;
      }

      tr:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      .book-cover {
        width: 50px;
        height: 75px;
        object-fit: cover;
      }

      .book-r:hover {
        background-color: #ecf0f1;
      }
    }
  }
}

