.dashboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f4f7fb;
  height: 100vh;
  box-sizing: border-box;
  margin-left: 350px;
  font-size: 20px;

  .performance-overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .overview-card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 30%;
      text-align: center;
      margin-left: 20px;

      p {
        color: #7f8c8d;
        margin-bottom: 10px;
      }

      h3 {
        color: #3498db;
        font-size: 24px;
        margin-bottom: 10px;
      }

      span {
        color: #95a5a6;
        font-size: 14px;
      }

      .icon-chart,
      .icon-posts,
      .icon-views {
        font-size: 30px;
        color: #3498db;
        margin-top: 10px;
      }
    }
  }

  .books-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .books-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        font-size: 24px;
        color: #2c3e50;
      }

      .books-select {
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #fff;
        cursor: pointer;

        option {
          font-size: 16px;
        }
      }
    }

    .books-table-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 16px;

      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #3498db;
        color: white;
      }

      tr:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      .book-cover {
        width: 50px;
        height: 75px;
        object-fit: cover;
      }

      .book-r:hover {
        background-color: #ecf0f1;
      }
    }
  }
}

