.details-row {
    background-color: #f9f9f9;
    td {
        padding: 10px;
        text-align: left;
    }
    img {
        margin-top: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}
.publisher-dashboard {
    padding: 10cm;
    margin-top: -300px
}