.Sidebar {
    display: flex;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    flex-direction: column;
    width: 240px;
    height: 100%;
    // background-color: #5c5c5c;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); // Default sidebar visible
  
    @media (max-width: 480px) {
      transform: translateX(-100%); // Hide sidebar by default on small screens
    }
  
    &.open {
      transform: translateX(0); // Show sidebar when open on small screens
    }
    
  }

  .SidebarLogo {
    // display: flex;
    text-align: center;
    // margin-left: -50px;
    margin-top: 10px;

    img {    
        width: 120px; /* Adjust the logo size as needed */
        height: auto;
    }

    h2 {
        margin-top: -10px;
    }
  }
  
  .sidebar-toggle {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 60;
    background-color: #5c5c5c;
    color: white;
    border: none;
    // padding: 10px;
    cursor: pointer;
    // font-size: 1.5rem;
  
    @media (max-width: 480px) {
      display: block; // Show the toggle button only on small screens
    }
  }
  
  .SidebarList {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
  
  .row {
    width: 90%;
    height: 45px;
    margin-left: 10px;
    padding: 10px;
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  
    &:hover {
      cursor: pointer;
      font-weight: bold;
      background-color: RGBA( 0, 255, 255, 0.2 );
      border-radius: 5px;
      transform: scale(1.1); /* Scale the button to 110% */
    }
  
    #icon {
      flex: 30%;
      display: grid;
      place-items: center;
    }
  
    #title {
      flex: 70%;
      text-align: left;
    }
  
    &#active {
      font-weight: bold;
      background-color: RGBA( 0, 255, 255, 0.2 );
      border-radius: 5px;
    //   width: 100px;
    }
  }
  
  @media (max-width: 768px) {
    .row {
      height: 35px;
    }
  
    #title {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .row {
      height: 30px;
    }
  
    #icon {
      flex: 20%;
    }
  
    #title {
      flex: 80%;
      font-size: 0.8rem;
    }
  }
  