.authors-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    margin-top: -70px;

    .authors-title {
      font-size: 2.3rem;
      font-weight: bold;
    }
  
    .authors-links {
      margin-top: 1rem;
      a {
        font-size: 1rem;
        color: #007bff;
        margin-right: 1.5rem;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .authors-cards {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      
      .author-card {
        position: relative;
        background-color: #f4f4f4;
        border-radius: 0.5rem;
        padding: 2rem;
        width: 20rem;
        text-align: center;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: scale(1.05);
        }
  
        .author-image {
          width: 50%;
          height: 100px;
          background-size: cover;
          background-position: center;
          border-radius: 0.5rem;
          margin-bottom: 1rem;
        }
  
        h2 {
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;
      
          img {
            width: 3cm; // Độ rộng của ảnh (3cm)
            height: 4cm; // Độ cao của ảnh (4cm)
            border-radius: 50%; // Làm ảnh tròn, nếu không muốn thì bỏ dòng này
            margin-left: 10px; // Khoảng cách giữa ảnh và tiêu đề
          }
        }
      
        p {
          font-size: 1rem;
          color: #666;
          margin-top: 0.5rem;
        }
      }
      
  
      .top-authors {
        background-color: #d9e8e4;
        .author-image {
          background-image: url('path_to_top_author_image');
        }
      }
  
      .female-authors {
        background-color: #f4e1c6;
        .author-image {
          background-image: url('path_to_female_author_image');
        }
      }
  
      .greek-originals {
        background-color: #f9d7c1;
        .author-image {
          background-image: url('path_to_greek_original_image');
        }
      }
    }
  }
  