.popular-books-container {
    // background-color: #1f2b36;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
  }
  
  .popular-books-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(18, 17, 17);
    margin-bottom: 20px;
    
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
  
    .show-all-button {
        background-color: transparent;
        color: #5c4b7b;
        border: none;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
      
        &:hover {
          text-decoration: underline;
        }
      }
      
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
  
  .book-item {
    background-color: #2e3b47;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.05);
    }
  
    .book-cover {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 15px;
    }
  
    .book-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  
    .book-author {
      font-size: 14px;
      color: #b0bec5;
      margin-bottom: 10px;
    }
  
    .book-price {
      font-size: 14px;
      font-weight: 600;
      color: #ffda68;
    }
  }
  